<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MyVers</title>
    <link href="/css/chat.css" rel="stylesheet">
</head>

<body>
    <div class="chat">
        <aside class="sidebar">
            <h2 class="list"><a th:href="@{/friend/{id}(id = ${memberId})}" style="color: white;">친구 목록</a></h2>
            <ul>
                <li class="list-friend" th:each="f : ${friends}">
                    <div>
                        <img class="list-img" th:src="${f.imageName}" alt="">
                    </div>
                    <a th:href="@{/chat/{id1}/{id2}(id1 = ${memberId}, id2 = ${f.id})}">
                        <div class="list-name" th:text="${f.name}">이지은</div>
                    </a>
                </li>
            </ul>
        </aside>
        <main id="chat-container">
            <div class="chat-list">
                <div th:each="talk : ${talks}">
                    <!-- AI 메시지 -->
                    <div class="chat-ai-box" th:if="${talk.speaker == T(com.example.myvers.domain.Speaker).AI}">
                        <div class="chat-img-box" >
                            <img class="chat-img" th:src="${friend.imageName}" alt="">
                        </div>
                        <div class="chat-text-box">
                            <div>
                                <p class="chat-name" th:text="${friend.name}">이지은</p>
                            </div>
                            <div class="chat-text-content-date">
                                <div class="chat-text-main">
                                    <p class="chat-text" th:text="${talk.message}">반가워 중혁아! 내 이름은 지은이야! 앞으로 잘 부탁해!!</p>
                                </div>
                                <div class="chat-date-box">
                                    <p class="chat-date" th:text="${talk.time}">오후 3:42</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 서버에서 받아온 사용자가 입력한 메시지 -->
                    <div class="chat-ai-box" th:if="${talk.speaker == T(com.example.myvers.domain.Speaker).HUMAN}">
                        <div class="chat-text-box">
                            <div class="chat-name-i">
                                <p class="chat-name-i">나</p>
                            </div>
                            <div class="chat-text-content-date-i">
                                <div class="chat-date-box">
                                    <p class="chat-date-i" th:text="${talk.time}">오후 3:42</p>
                                </div>
                                <div class="chat-text-main">
                                    <p class="chat-text" th:text="${talk.message}">안녕 지은아! 나도 잘 부탁해!!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 프론트에서 바로 처리한 사용자가 입력한 메시지 -->
                <div class="chat-ai-box" id="content-box" style="display: none;">
                    <div class="chat-text-box">
                        <div class="chat-name-i">
                            <p class="chat-name-i">나</p>
                        </div>
                        <div class="chat-text-content-date-i">
                            <div class="chat-date-box">
                                <p class="chat-date-i" id="content-box-time">오후 3:42</p>
                            </div>
                            <div class="chat-text-main">
                                <p class="chat-text" id="content-box-box">안녕 지은아! 나도 잘 부탁해!!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 프론트에서 바로 처리한 AI가 메시지를 입력하고 있는중이라는 애니메이션 -->
                <div class="chat-ai-box" id="content-box-ai" style="display: none;">
                    <div class="chat-img-box" >
                        <img class="chat-img" th:src="${friend.imageName}" alt="">
                    </div>
                    <div class="chat-text-box">
                        <div>
                            <p class="chat-name" th:text="${friend.name}">이지은</p>
                        </div>
                        <div class="chat-text-content-date">
                            <!-- 애니메이션 박스 -->
                            <div class="chat-text-main-ami">
                                <p class="chat-text animation-dots"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message">
                <form id="myForm" method="post" class="message-trans" th:object="${talkForm}" onkeydown="disableEnter(event)">
                    <div>
                        <p th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Incorrect date</p>
                    </div>
                    <div class="textarea-chat">
                        <textarea cols="100" rows="1" placeholder="send message 100자 이내" th:field="*{message}" th:class="${#fields.hasErrors('message')} ? 'fieldError' : ' '"></textarea>
                    </div>
                    <div class="btn-chat">
                        <button id="send-button" type="submit" class="btn" onclick="disableButton(event)">></button>
                    </div>
                </form>
                <script>
                    const textarea = document.getElementById('message');

                    textarea.focus(); // text 입력창에 포커스를 자동으로 설정

                    // 엔터 눌러서 제출시, 서버에 내용 제출하고, 제출 버튼과 입력창 비활성화
                    textarea.addEventListener('keydown', function(event) {
                        if (event.keyCode === 13) { // Enter key
                            event.preventDefault(); // 기본 동작 막기.
                            showContent();
                            this.form.submit(); // 폼 전송

                            // 텍스트 입력란과 제출 버튼 요소 가져오기
                            var inputField = document.getElementById('message');
                            var submitButton = document.getElementById('send-button');

                            // 텍스트 입력란과 제출 버튼 비활성화
                            inputField.disabled = true;
                            submitButton.disabled = true;
                        }
                    });

                    // 제출 버튼 클릭하여 제출시, 제출 버튼과 입력창 비활성화
                    function disableButton(event) {
                        event.preventDefault();
                        showContent();
                        document.getElementById('myForm').submit();
                        document.getElementById('send-button').disabled = true;
                        document.getElementById('message').disabled = true;
                    }

                    // 제출 버튼을 직접 누르든, 엔터를 치든 제출 시, 내가 제출한 내용 화면에 바로 나오게 하면서 스크롤 아래로.
                    function showContent() {
                        var inputText = document.getElementById('message').value;
                        if (inputText.trim().length === 0) {
                            return;
                        }

                        var contentBox = document.getElementById('content-box');
                        var contentBoxBox = document.getElementById('content-box-box');
                        var contentBoxTime = document.getElementById('content-box-time');
                        var contentBoxAi = document.getElementById('content-box-ai');

                        contentBoxBox.textContent = inputText;
                        contentBoxTime.textContent = makeContentTime();
                        contentBox.style.display = 'flex'; // 사용자 메시지 표시
                        window.scrollTo(0,document.body.scrollHeight); // 스크롤 아래로
                        setTimeout(function() {
                            contentBoxAi.style.display = 'flex'; // ai 메시지 애니메이션 표시
                            window.scrollTo(0,document.body.scrollHeight); // 스크롤 아래로
                        }, 1000);
                    }

                    // 서버에서 보낸 시각 못가져 오니까 input 시킨 시각가져와서 포맷팅해주기.
                    function makeContentTime() {
                        var currentTime = new Date();
                        var hour = currentTime.getHours();
                        var minute = currentTime.getMinutes();

                        // 시간을 12시간 형식으로 변환
                        var formattedHour = hour % 12;
                        if (formattedHour === 0) {
                          formattedHour = 12;
                        }

                        // 오전/오후 확인
                        var period = hour >= 12 ? '오후' : '오전';
                        // 0을 붙여 한 자리 숫자를 두 자리로 만듦
                        var formattedMinute = minute < 10 ? '0' + minute : minute;
                        var formattedTime = period + ' ' + formattedHour + ':' + formattedMinute;
                        return formattedTime;
                    }

                </script>
            </div>
        </main>
    </div>
    <script>
      window.scrollTo(0,document.body.scrollHeight);
    </script>
</body>

</html>
