<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ShinVers</title>
    <link href="/css/friend.css" rel="stylesheet">
</head>

<body>
    <div class="login">
        <div class="title">
            <h1><a href="index.html">친구가 만들어졌습니다~!</a></h1>
        </div>
        <div class="card-list">
            <div class="card-complete2">
                <h2>JENNY</h2>
                <img class="friend-image" src="jenny.webp" alt="">
                <div>
                    <button class="btn3"><a href="index.html">확인</a></button>
                </div>
            </div>
        </div>


    </div>
</body>

</html>
