<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MyVers</title>
    <link href="/css/member.css" rel="stylesheet">
</head>

<body>
    <div class="login">
        <div class="title">
            <h1><a href="index.html">MyVers</a></h1>
        </div>
        <form action="">
            <div class="login-input">
                <input type="text" placeholder="아이디" name="loginId">
            </div>
            <div class="login-input">
                <input type="email" placeholder="abcd1234@gmail.com" name="email">
            </div>
            <div class="login-input">
                <button type="submit" class="btn">메일로 임시비밀번호 전송하기</button>
            </div>
        </form>
        <div style="clear:both;"></div>
<!--
        <div class="login-bottom">
            <div>
                <a href="">비밀번호찾기</a>
            </div>
            <div>
                <a href="">회원가입</a>
            </div>
        </div>
-->
    </div>
</body>

</html>