<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MyVers</title>
    <link href="/css/member.css" rel="stylesheet">
</head>

<body>
    <div class="login">
        <div class="title">
            <h1><a href="index.html">MyVers</a></h1>
        </div>
        <div class="tranComplete">
            <p>등록된 이메일로 임시 비밀번호를 전송해 드렸습니다.</p>
        </div>
        <div style="display: flex; justify-content: center;">
            <button class="btn2">
                <a href="index.html">로그인 하러 가기</a>
            </button>
        </div>
    </div>
</body>

</html>
