body {
    margin: 0px;
}
div {
    box-sizing: border-box;
}
.fieldError {
    border-color: #bd2130;
}

/*
#FFACAC
#FFBFA9
#FFEBB4
#FBFFB1
*/

.title {
    text-align: center;
    color: #FFBFA9;
}

.login {
    width: 400px;
    border: solid 1px #FFBFA9;
    border-radius: 5px;
    margin: auto;
    margin-top: 45px;
    padding: 10px;
}
.btn-edit {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: 1px solid #FFBFA9;
    border-radius: 3px;
    color: #222222;
}
.btn-edit:hover {
    background-color: #FFBFA9;
}
.btn-edit:active {
    background-color: #FFACAC;
}
input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #FFBFA9;
    
}


.login-input {
    margin: 5px;
}
.login-input-trans {
    margin: 5px;
    display: flex;
}


.btn {
    padding: 5px;
    float: right;
    background-color: white;
    border: 1px solid #FFBFA9;
    border-radius: 3px;
    color: #222222;
}
.btn2 {
    padding: 5px;
    background-color: white;
    border: 1px solid #FFBFA9;
    border-radius: 3px;
    color: #222222;
}
.btn:hover {
    background-color: #FFBFA9;
}
.btn:active {
    background-color: #FFACAC;
}

.btn7 {
    padding: 10px;
    background-color: white;
    border: 1px solid #FFBFA9;
    border-radius: 3px;
    color: #222222;
}
.btn7:hover {
    background-color: #FFBFA9;
}
.btn7:active {
    background-color: #FFACAC;
}

.login-bottom {
    display: flex;
    justify-content: center;
}
.login-bottom div{
    margin: 5px;
}

a {
    text-decoration: none;
    color: #FFBFA9;
}
a:visited {
    text-decoration: none;
    color: #FFACAC;
}

label {
    font-size: 13px;
    margin-left: 5px;
}

.tranComplete {
    text-align: center;
}

.transbtn {
    text-align: center;
    align-content: center;
    justify-content: center;
/*    padding: auto;*/
/*    margin: auto;*/
/*    justify-content: center;*/
}
.footer-bg {
    width: 100vw;
    position : absolute;
    bottom : 0;
    height: 15vh;
    background-color: #FFACAC;
/*
#FFBFA9
#FFEBB4
#FBFFB1
*/
}

i {
/*    color: */
    font-size: 20px;
}

.footer-content {
    width:300px;
    margin: auto;
    margin-top:30px;
/*    text-align: center;*/
}

.footer-content-section {
    display: flex;
    padding: 5px;
    margin-top: 8px;
    margin-left: 15px;
    color: #222222;
}

.icon {
    margin-right:  10px;
}